@font-face {
  font-family: bold;
  src: url(../media/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: italic;
  src: url(../media/fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: lightItalic;
  src: url(../media/fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: medium;
  src: url(../media/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: regular;
  src: url(../media/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: slabLight;
  src: url(../media/fonts/RobotoSlab-light.ttf);
}

@font-face {
  font-family: slabRegular;
  src: url(../media/fonts/RobotoSlab-Regular.ttf);
}