//Media Query for Grid Layout

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a {
    .content-text {
      columns: 2;
      column-gap: 2em;
      p {
        padding-top: 0;
      }
    }
  }

  #section-b {
    ul {
      display: flex;
      justify-content: space-around;
    }
    li {
      width: 29%;
      min-height: 20%;
    }
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2 / 4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }
}

@media (min-width: 1050px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
  }

  #section-a {
    .content-text {
      columns: 2;
      column-gap: 2em;
      p {
        padding-top: 0;
      }
    }
  }

  #section-b {
    ul {
      display: flex;
      justify-content: space-around;
    }
    li {
      width: 29%;
      min-height: 20%;
    }
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2 / 4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }
}