h1,h2 {
  font-family: "bold";
  margin: 0;
  padding: 1em 0;
}

h3,h4 {
  font-family: medium;
  margin: 0;
  padding: 1em 0;
}

h5 {
  font-family: slabLight;
  margin: 0;
  padding: 1em 0;
}

h6 {
  font-family: lightItalic;
  margin: 0;
  padding: 1em 0;
}

p {
  font-family: slabRegular;
  margin: 0;
  padding: 1em 0;
}